LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

128 MENU
LANGUAGE LANG_ENGLISH, 0x0
{
  POPUP "File(&F)"
  {
    MENUITEM "New Map",  32819
    MENUITEM "Load Map",  57601
    MENUITEM "Save Map \tCtrl+S(&S)",  57603
    MENUITEM "Save as...\t(&A)",  57604
    MENUITEM SEPARATOR
    MENUITEM "Create Game Data\t(&Ｇ)",  32846
    MENUITEM SEPARATOR
    MENUITEM "Exit Editor\t(&X)",  57665
  }
  POPUP "Edit(&E)"
  {
    MENUITEM "Event Cut \tX",  57635
    MENUITEM "Event Copy \tC",  57634
    MENUITEM "Event Paste \tV",  57637
    MENUITEM "Delete\tDel or BS",  32794
    MENUITEM "Map Settings",  32814
  }
  POPUP "View(&V)"
  {
    MENUITEM "Toolbar\t(&T)",  59392
    MENUITEM "Tileset Editor",  32792
    MENUITEM "System Database",  32797
    MENUITEM "User Database",  32790
    MENUITEM "Variable Database",  32831
    MENUITEM "Common Events",  32815
    MENUITEM "Map Selection",  32823
  }
  POPUP "Layer"
  {
    MENUITEM "Layer 1",  32771
    MENUITEM "Layer 2",  32772
    MENUITEM "Layer 3",  32773
    MENUITEM "Events",  32774
  }
  POPUP "Game Settings"
  {
    MENUITEM "Open Game Settings",  32830
    MENUITEM "Open Game.exe Config ",  32865
  }
  POPUP "Help(&H)"
  {
    MENUITEM "Variable Reference/Special Characters Index",  32868
    MENUITEM "WOLF RPG Editor Version Info \t(&A)",  57664
    MENUITEM "WOLF RPG Editor Manual [Japanese] \t(&M)",  32861
    MENUITEM "WOLF RPG Editor Official Site [Japanese]",  32871
    MENUITEM "Perfect Guide Site [Japanese]",  32872
  }
}

146 MENU
LANGUAGE LANG_ENGLISH, 0x0
{
  POPUP "Move Command"
  {
    MENUITEM "Move Down",  32798
    MENUITEM "Move Left",  32799
    MENUITEM "Move Right",  32800
    MENUITEM "Move Up",  32801
    MENUITEM "Move Down-Left",  32802
    MENUITEM "Move Down-Right",  32803
    MENUITEM "Move Up-Left",  32804
    MENUITEM "Move Up-Right",  32805
  }
  POPUP "Direction Command"
  {
    MENUITEM "Face Down",  32806
    MENUITEM "Face Left",  32807
    MENUITEM "Face Right",  32808
    MENUITEM "Face Up",  32809
    MENUITEM "Face Down-Left",  32810
    MENUITEM "Face Down-Right",  32811
    MENUITEM "Face Up-Left",  32812
    MENUITEM "Face Up-Right",  32813
  }
}

172 MENU
LANGUAGE LANG_ENGLISH, 0x0
{
  POPUP "TEST"
  {
    MENUITEM "Event Create/Edit",  32852
    MENUITEM SEPARATOR
    MENUITEM "Event Cut \t&X",  57635
    MENUITEM "Event Copy \t&C",  57634
    MENUITEM "Event Paste \t&V",  57637
    MENUITEM "Delete \t&Del",  32794
    MENUITEM SEPARATOR
    MENUITEM "Manual Map Chip Update",  32818
    MENUITEM SEPARATOR
    MENUITEM "Set Game Start Position",  32855
    MENUITEM "Save Position to DB",  32853
  }
}

