LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  128, 	"WOLF RPGエディタ\n\nMainEditor\n\nMainEditor\n\n\nMainEditor.Document\nMainEditor.Document"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  32771, 	"\nLayer1"
  32772, 	"\nLayer2"
  32773, 	"\nLayer3"
  32774, 	"\nEvent"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  32790, 	"\nUser Database"
  32792, 	"\nTileset Settings"
  32797, 	"\nSystem Database"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  32814, 	"\nMap Settings (Size, Tiles)"
  32815, 	"\nCommon Event Settings"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  32816, 	"\nBegin Test Play"
  32818, 	"\nUpdate Map With Newest Tileset"
  32819, 	"\nCreate New Map"
  32821, 	"\nShow Mini-Manual"
  32823, 	"\nMap Select"
  32824, 	"\nShow Map at 1x"
  32825, 	"\nShow Map at 2x"
  32826, 	"\nShow Map at 4x"
  32827, 	"\nShow Map at 4x"
  32828, 	"\nShow Map at 8x"
  32829, 	"\nVariable Database"
  32830, 	"Adjust Game Settings"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  32836, 	"\nPencil Tool"
  32837, 	"\nFill Tool"
  32838, 	"\nSquare Fill Tool"
  32841, 	"\nUndo (*Map Chips Only)"
  32843, 	"\nPencil Tool"
  32846, 	"\nCreate game data. Can also encrypt."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  32853, 	"\nSave position to SystemDB Type 7. Can use saved positions with Transfer command."
  32859, 	"\nAuto-Create Map"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  57344, 	"WOLF RPGエディタ"
  57345, 	"Ready"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  57600, 	"Create New File\nNew File"
  57601, 	"Open Existing Map\nOpen Other Map"
  57602, 	"Close Current File\nClose"
  57603, 	"Overwrite Current File\nSave Over"
  57604, 	"Save Current File With New Name\nSave As"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  57616, 	"Open Specified File"
  57617, 	"Open Specified File"
  57618, 	"Open Specified File"
  57619, 	"Open Specified File"
  57620, 	"Open Specified File"
  57621, 	"Open Specified File"
  57622, 	"Open Specified File"
  57623, 	"Open Specified File"
  57624, 	"Open Specified File"
  57625, 	"Open Specified File"
  57626, 	"Open Specified File"
  57627, 	"Open Specified File"
  57628, 	"Open Specified File"
  57629, 	"Open Specified File"
  57630, 	"Open Specified File"
  57631, 	"Open Specified File"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  57632, 	"Delete selected range.\nDelete"
  57633, 	"Delete all.\nDelete All"
  57634, 	"Copy selected range to Clipboard.\nCopy"
  57635, 	"Cut selected range and put it on the Clipboard.\nCut"
  57636, 	"Search for the given string.\nFind"
  57637, 	"Paste the contents of the Clipboard.\nPaste"
  57640, 	"Redo last action.\nRedo"
  57641, 	"Replace given string with another string.\nReplace"
  57642, 	"Select everything in the file.\nSelect All"
  57643, 	"Undo last action.\nUndo"
  57644, 	"Redo last action.\nRedo"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  57653, 	"Divide current window.\nSplit"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  57664, 	"Show program info, version, and copyright.\nVersion Info"
  57665, 	"Close application, asking to save files.\\Quit"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  57680, 	"Switch to the next window.\nNext Pane"
  57681, 	"Switch to the previous window.\nPrevious Pane"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  59136, 	"EXT"
  59137, 	"CAP"
  59138, 	"NUM"
  59139, 	"SCRL"
  59140, 	"Overwrite"
  59141, 	"Record"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  59392, 	"Show or don't show the toolbar.\nToolbar Display Toggle"
  59393, 	"Show or don't show the status bar.\nStatus Bar Display Toggle"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  61184, 	"Change window size."
  61185, 	"Change window position."
  61186, 	"Minimize window."
  61187, 	"Maximize window."
  61188, 	"Switch to the next window."
  61189, 	"Switch to the previous window."
  61190, 	"Close current window, asking to save changed files."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  61202, 	"Return the window to normal size."
  61203, 	"Show Task List"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  61440, 	"Open"
  61441, 	"Save As"
  61442, 	"All Files (*.*)"
  61443, 	"Untitled"
  61446, 	"an unnamed file"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  61457, 	"&Hide"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  61472, 	"No error message is available."
  61473, 	"An unsupported operation was attempted."
  61474, 	"A required resource was unavailable."
  61475, 	"Out of memory."
  61476, 	"An unknown error has occurred."
  61477, 	"An invalid argument was encountered."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  61696, 	"Invalid filename."
  61697, 	"Failed to open document."
  61698, 	"Failed to save document."
  61699, 	"Save changes to %1?"
  61700, 	"Failed to create empty document."
  61701, 	"The file is too large to open."
  61702, 	"Could not start print job."
  61703, 	"Failed to launch help."
  61704, 	"Internal application error."
  61705, 	"Command failed."
  61706, 	"Insufficient memory to perform operation."
  61707, 	"System registry entries have been removed and the INI file (if any) was deleted."
  61708, 	"Not all of the system registry entries (or INI file) were removed."
  61709, 	"This program requires the file %s, which was not found on this system."
  61710, 	"This program is linked to the missing export %s in the file %s. This machine may have an incompatible version of %s."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  61712, 	"Please enter an integer."
  61713, 	"Please enter a number."
  61714, 	"Please enter an integer between %1 and %2."
  61715, 	"Please enter a number between %1 and %2."
  61716, 	"Please enter no more than %1 characters."
  61717, 	"Please select a button."
  61718, 	"Please enter an integer between 0 and 255."
  61719, 	"Please enter a positive integer."
  61720, 	"Please enter a date and/or time."
  61721, 	"Please enter a currency."
  61722, 	"Please enter a GUID."
  61723, 	"Please enter a time."
  61724, 	"Please enter a date."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  61728, 	"Unexpected file format."
  61729, 	"%1\nCannot find this file.\nPlease verify that the correct path and file name are given."
  61730, 	"Destination disk drive is full."
  61731, 	"Unable to read from %1, it is opened by someone else."
  61732, 	"Unable to write to %1, it is read-only or opened by someone else."
  61733, 	"An unexpected error occurred while reading %1."
  61734, 	"An unexpected error occurred while writing %1."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  61744, 	"%1: %2\nContinue running script?"
  61745, 	"Dispatch exception: %1"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  61836, 	"Unable to read write-only property."
  61837, 	"Unable to write read-only property."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  61840, 	"Unable to load mail system support."
  61841, 	"Mail system DLL is invalid."
  61842, 	"Send Mail failed to send message."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  61856, 	"No error occurred."
  61857, 	"An unknown error occurred while accessing %1."
  61858, 	"%1 was not found."
  61859, 	"%1 contains an invalid path."
  61860, 	"%1 could not be opened because there are too many open files."
  61861, 	"Access to %1 was denied."
  61862, 	"An invalid file handle was associated with %1."
  61863, 	"%1 could not be removed because it is the current directory."
  61864, 	"%1 could not be created because the directory is full."
  61865, 	"Seek failed on %1"
  61866, 	"A hardware I/O error was reported while accessing %1."
  61867, 	"A sharing violation occurred while accessing %1."
  61868, 	"A locking violation occurred while accessing %1."
  61869, 	"Disk full while accessing %1."
  61870, 	"An attempt was made to access %1 past its end."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  61872, 	"No error occurred."
  61873, 	"An unknown error occurred while accessing %1."
  61874, 	"An attempt was made to write to the reading %1."
  61875, 	"An attempt was made to access %1 past its end."
  61876, 	"An attempt was made to read from the writing %1."
  61877, 	"%1 has a bad format."
  61878, 	"%1 contained an unexpected object."
  61879, 	"%1 contains an incorrect schema."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  61888, 	"pixels"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, 0x0
{
  62177, 	"Uncheck"
  62178, 	"Check"
  62179, 	"Mixed"
}

