LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

127 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "파일(&F)"
  {
    MENUITEM "맵 신규 작성",  32819
    MENUITEM "맵 불러오기",  57601
    MENUITEM "맵 저장\tCtrl+S(&S)",  57603
    MENUITEM "다른 이름으로 저장(&A)...",  57604
    MENUITEM SEPARATOR
    MENUITEM "게임 데이터 작성(&Ｇ)",  32846
    MENUITEM SEPARATOR
    MENUITEM "에디터 종료(&X)",  57665
  }
  POPUP "편집(&E)"
  {
    MENUITEM "이벤트 잘라내기\tX",  57635
    MENUITEM "이벤트 복사\tC",  57634
    MENUITEM "이벤트 붙여넣기\tV",  57637
    MENUITEM "삭제\tDel or BS",  32794
    MENUITEM "맵 기본 설정",  32814
  }
  POPUP "표시(&V)"
  {
    MENUITEM "툴 바(&T)",  59392
    MENUITEM "타일 세트 에디터",  32792
    MENUITEM "시스템 데이터베이스",  32797
    MENUITEM "유저 데이터베이스",  32790
    MENUITEM "가변 데이터베이스",  32831
    MENUITEM "커먼 이벤트",  32815
    MENUITEM "맵 선택 윈도우",  32823
  }
  POPUP "레이어"
  {
    MENUITEM "레이어1",  32771
    MENUITEM "레이어2",  32772
    MENUITEM "레이어3",  32773
    MENUITEM "이벤트",  32774
  }
  POPUP "게임 설정"
  {
    MENUITEM "게임 기본 설정을 연다",  32830
    MENUITEM "게임 기본 설정 Pro 을 연다 [Pro판]",  33066
    MENUITEM "프로텍트용 키를 설정 [Pro판]",  33069
    MENUITEM SEPARATOR
    MENUITEM "컨피그를 연다",  32865
    MENUITEM "디버그 윈도우 사용 [체크=사용]",  32942,  CHECKED
  }
  POPUP "옵션"
  {
    MENUITEM "에디터 옵션",  32943
  }
  POPUP "헬프(&H)"
  {
    MENUITEM "버전 정보 WOLF RPG 에디터(&A)",  57664
    MENUITEM "온라인 매뉴얼을 연다(&M)",  32861
    MENUITEM "WOLF RPG 에디터 공식 사이트를 연다",  32871
    MENUITEM "「퍼펙트 가이드」의 사이트를 연다",  32872
    MENUITEM "변수 호출 값 / 특수 문자 일람",  32868
  }
}

146 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "이동 커맨드 삽입"
  {
    MENUITEM "↓ 으로 이동",  32798
    MENUITEM "← 으로 이동",  32799
    MENUITEM "→ 으로 이동",  32800
    MENUITEM "↑ 으로 이동",  32801
    MENUITEM "↙ 으로 이동",  32802
    MENUITEM "↘ 으로 이동",  32803
    MENUITEM "↖ 으로 이동",  32804
    MENUITEM "↗ 으로 이동",  32805
  }
  POPUP "방향 전환 커맨드"
  {
    MENUITEM "↓ 방향을 본다",  32806
    MENUITEM "← 방향을 본다",  32807
    MENUITEM "→ 방향을 본다",  32808
    MENUITEM "↑ 방향을 본다",  32809
    MENUITEM "↙ 방향을 본다",  32810
    MENUITEM "↘ 방향을 본다",  32811
    MENUITEM "↖ 방향을 본다",  32812
    MENUITEM "↗ 방향을 본다",  32813
  }
  POPUP "편집"
  {
    MENUITEM "잘라내기\t&X",  33048
    MENUITEM "복사\t&C",  33050
    MENUITEM "붙여넣기\t&V",  33052
    MENUITEM "삭제\t&Del",  33054
  }
}

172 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "TEST"
  {
    MENUITEM "이벤트 작성/편집",  32852
    MENUITEM SEPARATOR
    MENUITEM "이벤트 잘라내기\t&X",  57635
    MENUITEM "이벤트 복사\t&C",  57634
    MENUITEM "이벤트 붙여넣기\t&V",  57637
    MENUITEM "삭제\t&Del",  32794
    MENUITEM SEPARATOR
    MENUITEM "맵 칩을 수동 갱신",  32818
    MENUITEM SEPARATOR
    MENUITEM "게임 시작 위치로 설정",  32855
    MENUITEM "이 위치를 DB에 저장",  32853
  }
}

216 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "EDITMENU"
  {
    MENUITEM "삽입 윈도우를 연다\t&Enter",  32954
    MENUITEM "커맨드 편집\t&Space",  32953
    MENUITEM SEPARATOR
    MENUITEM "잘라내기\t&X",  32946
    MENUITEM "복사\t&C",  32958
    MENUITEM "붙여넣기\t&V",  32959
    MENUITEM "삭제\t&Del",  32960
    MENUITEM "모두 선택\t&A",  33044
    MENUITEM SEPARATOR
    MENUITEM "선택 범위의 맨 앞으로 점프\t&T",  33032
    MENUITEM "선택 범위의 맨 끝으로 점프\t&B",  33034
    MENUITEM SEPARATOR
    MENUITEM "커맨드문→클립보드에 복사\t&Q",  32962
    MENUITEM SEPARATOR
    MENUITEM "이벤트 코드→클립보드에 복사\t&W",  32963
    MENUITEM "클립보드→코드 붙여넣기\t&E",  32957
  }
  POPUP "SUB"
  {
    MENUITEM "ResetNotUseTimer",  33042
  }
}

217 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "EDITMENU"
  {
    MENUITEM "이벤트 잘라내기\t&X",  32978
    MENUITEM "이벤트 복사\t&C",  32979
    MENUITEM "이벤트 복수 복사\t&M",  32980
    MENUITEM "이벤트 붙여넣기\t&V",  32981
    MENUITEM "삭제\t&Del",  32982
  }
}

218 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "EDITMENU"
  {
    MENUITEM "잘라내기\t&X",  32983
    MENUITEM "복사\t&C",  32984
    MENUITEM "복수 복사\t&M",  32985
    MENUITEM "붙여넣기\t&V",  32986
    MENUITEM "삭제\t&Del",  32987
    MENUITEM SEPARATOR
    MENUITEM "타입 설정을 파일 출력",  32988
    MENUITEM "타입＆전체 데이터를 파일 출력",  32989
  }
}

219 MENUEX
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "EDITMENU", 65535, MFT_STRING, MFS_ENABLED, 0
  {
    MENUITEM "잘라내기\t&X", 32990, MFT_STRING, MFS_ENABLED
    MENUITEM "복사\t&C", 32991, MFT_STRING, MFS_ENABLED
    MENUITEM "복수 복사\t&M", 32992, MFT_STRING, MFS_ENABLED
    MENUITEM "붙여넣기\t&V", 32993, MFT_STRING, MFS_ENABLED
    MENUITEM "삭제\t&Del", 32994, MFT_STRING, MFS_ENABLED
    MENUITEM "", 0, MFT_STRING, MFS_ENABLED
    MENUITEM "데이터를 파일 출력", 32995, MFT_STRING, MFS_ENABLED
    MENUITEM "데이터를 CSV 파일로 출력", 32996, MFT_STRING | MFT_RIGHTJUSTIFY, MFS_ENABLED
  }
}

220 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "EDITMENU"
  {
    MENUITEM "신규 맵 작성(&N)",  33007
    MENUITEM "맵 복사(&C)",  33013
    MENUITEM "맵 붙여넣기(&V)",  33014
    MENUITEM "맵 삭제(&D)",  33015
    MENUITEM SEPARATOR
    MENUITEM "[←] 부모 측으로 이동\tShift+[←]",  33020
    MENUITEM "[→] 자식 측으로 이동\tShift+[→]",  33017
    MENUITEM "[↑] 위로 이동\tShift+[↑]",  33018
    MENUITEM "[↓] 아래로 이동\tShift+[↓]",  33019
  }
}

