LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

127 MENU
LANGUAGE LANG_POLISH, 0x0
{
  POPUP "Plik(&F)"
  {
    MENUITEM "Nowa mapa",  32819
    MENUITEM "Wczytaij mapę",  57601
    MENUITEM "Zapisz mapę\tCtrl+S(&S)",  57603
    MENUITEM "Zapisz jako(&A)...",  57604
    MENUITEM SEPARATOR
    MENUITEM "Stw\xF3rz plik instalacyjny(&Ｇ)",  32846
    MENUITEM SEPARATOR
    MENUITEM "Zamknij edytor(&X)",  57665
  }
  POPUP "Edycja(&E)"
  {
    MENUITEM "Wytnij zdarzenie\tX",  57635
    MENUITEM "Kopiuj zdarzenie\tC",  57634
    MENUITEM "Widej zdarzenie\tV",  57637
    MENUITEM "Usuń\tDel or BS",  32794
    MENUITEM "Wlaściwości mapy",  32814
  }
  POPUP "Narzędzia(&V)"
  {
    MENUITEM "Przybornik(&T)",  59392
    MENUITEM "Edytor tileset\xF3w",  32792
    MENUITEM "Baza danych systemu (BDS)",  32797
    MENUITEM "Baza danych użytkownika (BDU)",  32790
    MENUITEM "Baza danych zmiennych (BDZ)",  32831
    MENUITEM "Typowe zdarzenia",  32815
    MENUITEM "Wyb\xF3r map",  32823
  }
  POPUP "Tryb edycji"
  {
    MENUITEM "Warstwa dolna",  32771
    MENUITEM "Warstwa środkowa",  32772
    MENUITEM "Warstwa g\xF3rna",  32773
    MENUITEM "Warstwa zdarzeń",  32774
  }
  POPUP "Ustawienia gry"
  {
    MENUITEM "Podstawowe ustawienia gry",  32830
    MENUITEM "ゲーム基本設定Pro を開く [Pro版]",  33066
    MENUITEM "プロテクト用キーを設定 [Pro版]",  33069
    MENUITEM SEPARATOR
    MENUITEM "Konfiguracja Game.exe",  32865
    MENUITEM "Użyj okna debugowania [Zaznaczone = Tak]",  32942,  CHECKED
  }
  POPUP "Opcje"
  {
    MENUITEM "Ustawienia edytora",  32943
  }
  POPUP "Pomoc(&H)"
  {
    MENUITEM "Informacje o wersji WOLF RPG Edytor (&A)",  57664
    MENUITEM "Plik pomocy(&M)",  32861
    MENUITEM "Strona domowa WOLF RPG Edytor (JP)",  32871
    MENUITEM "Strona doskonałego przewodnika (JP)",  32872
    MENUITEM "Open log window",  33073
    MENUITEM "Zmienna wartość / Lista znak\xF3w specjalnych",  32868
  }
}

146 MENU
LANGUAGE LANG_POLISH, 0x0
{
  POPUP "Polecenia kroku"
  {
    MENUITEM "Krok w d\xF3ł",  32798
    MENUITEM "Krok w lewo",  32799
    MENUITEM "Krok w prawo",  32800
    MENUITEM "Krok w g\xF3rę",  32801
    MENUITEM "Krok d\xF3ł-lewo",  32802
    MENUITEM "Krok d\xF3ł-prawo",  32803
    MENUITEM "Krok g\xF3ra-lewo",  32804
    MENUITEM "Krok g\xF3ra-prawo",  32805
  }
  POPUP "Polecenia obrotuド"
  {
    MENUITEM "Obr\xF3t w d\xF3ł",  32806
    MENUITEM "Obr\xF3t w lewo",  32807
    MENUITEM "Obr\xF3t w prawo",  32808
    MENUITEM "Obr\xF3t w g\xF3rę",  32809
    MENUITEM "Obr\xF3t d\xF3ł-lewo",  32810
    MENUITEM "Obr\xF3t d\xF3ł-prawo",  32811
    MENUITEM "Ob\xF3rt g\xF3ra-lewo",  32812
    MENUITEM "Obr\xF3t g\xF3ra-prawo",  32813
  }
  POPUP "Edycja"
  {
    MENUITEM "Wytnij \t&X",  33048
    MENUITEM "Kopiuj \t&C",  33050
    MENUITEM "Wklej \t&V",  33052
    MENUITEM "Usuń \t&Del",  33054
  }
}

172 MENU
LANGUAGE LANG_POLISH, 0x0
{
  POPUP "TEST"
  {
    MENUITEM "Nowe zdarzenie / edycja zdarzenia",  32852
    MENUITEM SEPARATOR
    MENUITEM "Wytnij \t&X",  57635
    MENUITEM "Kopiuj \t&C",  57634
    MENUITEM "Wklej \t&V",  57637
    MENUITEM "Usuń \t&Del",  32794
    MENUITEM SEPARATOR
    MENUITEM "Odśwież chipset mapy",  32818
    MENUITEM SEPARATOR
    MENUITEM "Ustaw pozycję startową",  32855
    MENUITEM "Zapisz pozycję w bazie danych (BD)",  32853
  }
}

216 MENU
LANGUAGE LANG_POLISH, 0x0
{
  POPUP "EDITMENU"
  {
    MENUITEM "Otw\xF3rz polecenie zdarzenia \t&Enter",  32954
    MENUITEM "Edytuj polecenie \t&Space",  32953
    MENUITEM SEPARATOR
    MENUITEM "Wytnij \t&X",  32946
    MENUITEM "Kopiuj \t&C",  32958
    MENUITEM "Wklej \t&V",  32959
    MENUITEM "Usuń \t&Del",  32960
    MENUITEM "Zaznacz wszystko \t&A",  33044
    MENUITEM SEPARATOR
    MENUITEM "Przejdź do początku zaznaczenia \t&T",  33032
    MENUITEM "Przejdź na koniec zaznaczenia \t&B",  33034
    MENUITEM SEPARATOR
    MENUITEM "Kopiuj polecenie zdarzenia do schowka \t&Q",  32962
    MENUITEM SEPARATOR
    MENUITEM "Kopiuj kod zdarzenia do schowka \t&W",  32963
    MENUITEM "Wklej kod zdarzenia ze schowka \t&E",  32957
  }
  POPUP "SUB"
  {
    MENUITEM "ResetNotUseTimer",  33042
  }
}

217 MENU
LANGUAGE LANG_POLISH, 0x0
{
  POPUP "EDITMENU"
  {
    MENUITEM "Wytnij \t&X",  32978
    MENUITEM "Kopiuj \t&C",  32979
    MENUITEM "Event Multi Copy \t&M",  32980
    MENUITEM "Wklej \t&V",  32981
    MENUITEM "Usuń \t&Del",  32982
  }
}

218 MENU
LANGUAGE LANG_POLISH, 0x0
{
  POPUP "EDITMENU"
  {
    MENUITEM "Wytnij \t&X",  32983
    MENUITEM "Kopiuj \t&C",  32984
    MENUITEM "Masowe kopiowanie \t&M",  32985
    MENUITEM "Wklej \t&V",  32986
    MENUITEM "Usuń \t&Del",  32987
    MENUITEM SEPARATOR
    MENUITEM "Eksportuj ustawienia do pliku",  32988
    MENUITEM "Eksportuj wszystkie ustawienia do pliku",  32989
  }
}

219 MENUEX
LANGUAGE LANG_POLISH, 0x0
{
  POPUP "EDITMENU", 65535, MFT_STRING, MFS_ENABLED, 0
  {
    MENUITEM "Wytnij \t&X", 32990, MFT_STRING, MFS_ENABLED
    MENUITEM "Kopiuj \t&C", 32991, MFT_STRING, MFS_ENABLED
    MENUITEM "Masowe kopiowanie \t&M", 32992, MFT_STRING, MFS_ENABLED
    MENUITEM "Wklej \t&V", 32993, MFT_STRING, MFS_ENABLED
    MENUITEM "Usuń\t&Del", 32994, MFT_STRING, MFS_ENABLED
    MENUITEM "", 0, MFT_SEPARATOR, MFS_ENABLED
    MENUITEM "デEksport danych do pliku", 32995, MFT_STRING, MFS_ENABLED
    MENUITEM "Eksport danych do pliku CSV", 32996, MFT_STRING | MFT_RIGHTJUSTIFY, MFS_ENABLED
  }
}

220 MENU
LANGUAGE LANG_POLISH, 0x0
{
  POPUP "EDITMENU"
  {
    MENUITEM "Nowa mapa (&N)",  33007
    MENUITEM "Kopiuj (&C)",  33013
    MENUITEM "Wkiej (&V)",  33014
    MENUITEM "Usuń (&D)",  33015
    MENUITEM SEPARATOR
    MENUITEM "[←] Przenieś w lewo \tShift+[←]",  33020
    MENUITEM "[→] Przenieś w prawo \tShift+[→]",  33017
    MENUITEM "[↑] Przenieś w g\xF3rę \tShift+[↑]",  33018
    MENUITEM "[↓] Przenieś w d\xF3ł \tShift+[↓]",  33019
  }
}

